@import url("./reset.css");

body {
  background: #cfd8dc;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  width: 200px;
  height: 280px;
  grid-template-columns: 1fr;
  border: 1px solid;
  align-items: center;
}

.price-items__columns {
  display: flex;
  justify-content: space-between;
}
