@import url("./reset.css");

body {
  background: #cfd8dc;
  display: flex;
  justify-content: center;
}

.nav {
  height: 80px;
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  padding: 0px 24px;
}

.nav-column {
  display: flex;
}

.nav-column__menu__item {
  margin: 0 24px;
  cursor: pointer;
  transition: 1s ease;
}
