.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  box-sizing: border-box;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: inherit;
}

.nav__notification {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  position: absolute;
  left: 23px;
  bottom: 15px;
}

.nav__ellipsis {
  background-color: tomato;
  display: flex;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 23px;
}
