.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  box-sizing: border-box;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: inherit;
}
