.top-menu {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.index {
  margin-left: 4rem;
  margin-right: 1rem;
  font-size: 2rem;
  color: black;
}

.roadmap {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  color: black;
}

.carrer {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  color: black;
}

.forum {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  color: black;
}

.people {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  color: black;
}

.login {
  margin-left: 60%;
  margin-right: 1rem;
  font-size: 1rem;
  color: black;
}

.register {
  margin-left: 1rem;
  margin-right: 2rem;
  font-size: 1rem;
  color: black;
}
