.wrapper {
  display: flex;
  height: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.box {
  width: 200px;
  height: 200px;
  background: peru;
  text-align: center;
  font-size: 32px;
  color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
