@import "./reset.css";
@import "./variable.css";

/* components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";

/* screens */
@import "./screens/login.css";
@import "./screens/friends.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: #2e363e;
}
