.father {
  color: white;
  background: #888;
  display: grid;
  height: 50vh;
  gap: 5px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  justify-content: center;
}

.header {
  background: #3498db;
  justify-self: auto;
}
.content {
  background: #8e44ad;
}
.nav {
  background: #f39c12;
}
.footer {
  background: #ee84ad;
}
